@import "tailwindcss";

:root {
--eth-green-20: rgb(230, 240, 220);
--eth-green-40: rgb(200, 215, 165);
--eth-green-60: rgb(170, 190, 120);
--eth-green-80: rgb(135, 160, 80);
--eth-green-100: rgb(95, 125, 20);
--eth-green-120: rgb(55, 85, 20);

--eth-red-10: rgb(252, 240, 238);
--eth-red-20: rgb(245, 220, 218);
--eth-red-40: rgb(230, 180, 175);
--eth-red-60: rgb(212, 129, 123);
--eth-red-80: rgb(200, 95, 87);
--eth-red-100: rgb(185, 55, 45);

--eth-blue-10: rgb(235, 242, 250);
--eth-blue-20: rgb(215, 225, 240);
--eth-blue-40: rgb(170, 195, 225);
--eth-blue-80: rgb(80, 130, 190);
--eth-blue-100: rgb(35, 95, 180);

--eth-gray-10: rgb(245, 245, 245);
--eth-gray-20: rgb(230, 230, 230);
--eth-gray-40: rgb(200, 200, 200);
--eth-gray-60: rgb(170, 170, 170);
--eth-gray-80: rgb(140, 140, 140);
--eth-gray-100: rgb(110, 110, 110);

  --decision-button-bg: #ffffff;
  --box-bg: var(--eth-blue-10);
}


