@import "tailwindcss";

:root {
  --eth-green-20: rgb(224, 227, 208);
  --eth-green-40: rgb(192, 199, 161);
  --eth-green-60: rgb(161, 171, 113);
  --eth-green-80: rgb(129, 143, 66);
  --eth-green-100: rgb(98, 115, 19);
  --eth-green-120: rgb(54, 82, 19);


  --eth-red-10: rgb(	248, 235, 234);
  --eth-red-20: rgb(241, 215, 213);
  --eth-red-40: rgb(226, 174, 171);
  --eth-red-100: rgb(183, 53, 45);

  --eth-blue-10: rgb(233, 239, 247);
  --eth-blue-20: rgb(211, 222, 239);
  --eth-blue-80: rgb(77, 125, 191);
  --eth-blue-100: rgb(33, 92, 175);

  --eth-gray-10: rgb(241, 241,241);
  --eth-gray-40: rgb(197, 197, 197);
  --eth-gray-100: rgb(140, 140, 140);
}
